<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tock Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Tock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68934AFA1DD00D26005D109E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68934B0E1DD00D26005D109E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68934B191DD00D26005D109E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D639B21E02FBE0007862D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
